.comment {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.comment > img {
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.commentBox {
    flex: 1;
}

.commentContent {
    background: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
}

.commentContent header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.authorAndTime strong {
    font-size: 0.875rem;
    display: block;
    line-height: 1.6;
}

.authorAndTime time {
    font-size: 0.75rem;
    display: block;
    line-height: 1.6;
    color: var(--gray-400);
}